extend layout

block content
    section#menu(data-stellar-background-ratio='0.5')
    .container
      .col-md-12.col-sm-12
        .section-title.wow.fadeInUp(data-wow-delay='0.1s')
          h2 Our Menus
          h4 Tea Time &amp; Dining
      .col-md-4.col-sm-6
        // MENU THUMB
        .menu-thumb
          a.image-popup(href='images/menu-image1.jpg' title='American Breakfast')
            img.img-responsive(src='images/menu-image1.jpg' alt='')
            .menu-info
              .menu-item
                h3 American Breakfast
      .col-md-4.col-sm-6
        // MENU THUMB
        .menu-thumb
          a.image-popup(href='images/menu-image2.jpg' title='Self-made Salad')
            img.img-responsive(src='images/menu-image2.jpg' alt='')
            .menu-info
              .menu-item
                h3 Self-made Salad
      .col-md-4.col-sm-6
        // MENU THUMB
        .menu-thumb
          a.image-popup(href='images/menu-image3.jpg' title='Chinese Noodle')
            img.img-responsive(src='images/menu-image3.jpg' alt='')
            .menu-info
              .menu-item
                h3 Chinese Noodle
      .col-md-4.col-sm-6
        // MENU THUMB
        .menu-thumb
          a.image-popup(href='images/menu-image4.jpg' title='Rice Soup')
            img.img-responsive(src='images/menu-image4.jpg' alt='')
            .menu-info
              .menu-item
                h3 Rice Soup
      .col-md-4.col-sm-6
        // MENU THUMB
        .menu-thumb
          a.image-popup(href='images/menu-image5.jpg' title='Project title')
            img.img-responsive(src='images/menu-image5.jpg' alt='')
            .menu-info
              .menu-item
                h3 Deli Burger
      .col-md-4.col-sm-6
        // MENU THUMB
        .menu-thumb
          a.image-popup(href='images/menu-image6.jpg' title='Project title')
            img.img-responsive(src='images/menu-image6.jpg' alt='')
            .menu-info
              .menu-item
                h3 Big Flat Fried